/*uviversal selector*/
*{
    color: black;
    text-align: left;
}

/*elemenct selector*/
body{
    background-color: white;
}

h1 {
    color: red;
    font-size: 40px;
}
h3 {
    text-decoration: underline;
}

/*class selector*/
.quote {
    font-style: Italic;
}

/*id selector*/
#line3 {
    color: blue;
    font-family : Arial;
}

a[href] {
    color: blue;
}

h1, h3 {
    font-weight: bold;
}